.card{
  display: flex;
  flex-direction: column;
}
.cardImg{
  height: 25.4375rem;
  background-color: var(--background-gray);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cardText{
  height: auto;
  margin-top: 1.5rem;
  color: var(--logo-color);
  

}
.img{
  transition: all 0.6s ease-in-out;
}
.img:hover{
  rotate: -2deg;
  scale: 1.05;
  
}