.hero{
  width: 100%;
  background-color: var(--background-black);
  text-align: center;
  padding-top: 7.5rem;
  display: flex;
  flex-direction: column;
}
.hero h1{
  font-size: 1.8987rem;
  line-height: 3rem;

}
.hero span{
  color:  var(--logo-color);
}
.hero p{
  margin-top: 1.25rem;
  margin-bottom: 2.0313rem; 
}
.socialIconsDiv{
  padding: .6875rem 1.6875rem;
  display: inline-flex;
  margin: auto;
  gap:50px;
  justify-content:space-between;
  align-items: center;
  background-color: var(--logo-color);
  border-radius: 1.625rem;
  margin-top: 3.125rem;
  margin-bottom: 4.375rem;
}
.bottomImgDiv{
  width: 100%;
  background-color: var( --background-gray);
  padding: .5rem 9.0625rem;
  display: flex;
  gap:9.0625rem;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:768px){
  .bottomImgDiv{
    padding:.5rem 1.8125rem ;
    gap:1.8125rem;
  } 
}


@media (max-width:390px){
  .socialIconsDiv{
    padding:.25rem 1.25rem ;
    gap:1.875rem;
  } 
  .bottomImgDiv{
    padding:10px 20px;
    gap:auto;
    flex-wrap: wrap;
  }
}